<!doctype html>
<html>
<head>
	<title>Home</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
    </head>
    <body>
        <h1>Home Page!</h1>
      
    </body> 
</html>
        


{% comment %} <h1>Home</h1> [ Members | <a href="Rental_Orders">Rental Orders</a> |
Memberships | <a href="Rental_Equipment">Rental Equipment</a> |
<a href="Employees">Employees</a> | <a href="Orders">Orders</a> ]
<div>"WELCOME TO ROCKY ROAD CLIMBING"</div> {% endcomment %}
