

<html>
    <head>
        <title>Rental Equipment</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script language="JavaScript">
        function showform(dowhat) {
            /*
             * three DIVS: browse, insert, delete
             * this function sets one visible the others not
             */
            if(dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            } else if(dowhat == 'delete') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            } else if(dowhat == 'all') {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            } else { //by default display browse
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }
        function newRentalEquipment() {
            showform('insert');
        }
        function deleteRentalEquipment(pid) {
            showform('delete');
        }
        function browseRentalEquipment() {
            showform('browse');
        }
        function showAll() {
            showform('all');
        }
        </script>
    </head>
    
    <body onload="browseRentalEquipment()">
        <h1>Rental Equipment</h1> [ <a href="/">Home</a> | <a href="Members">Members</a> | <a href="Rental_Orders">Rental Orders</a> | <a href="Memberships">Memberships</a> | <a href="Rental_Equipment">Rental Equipment</a> | <a href="Employees">Employees</a> | <a href="Orders">Orders</a> ]
        <div id="browse">
            <p><a href="#" onClick="newRentalEquipment()">Add New</a> </p>
            <table border="1" cellpadding="5">
                <!-- Access data tuple passed from app.py --> 
                {% if data %}
                    <thead>
                        <tr>
                            <!-- Iterate through each key in the first entry to get the column name -->
                            {% for key in data[0].keys() %}
                            
                            <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                            <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                            <!-- End of this for loop -->
                            {% endfor %} 
                        </tr>
    
                    <tbody>
                        <!-- Now, iterate through every item in data -->{% for item in data %}
                            <tr>
                                <!-- Then iterate through every key in the current item dictionary -->
                                {% for key in item.keys() %}
    
                                <!-- Create a <td> element with the value of that key in it -->
						        <!-- Create a <td> element with the value of that key in it -->
								    {% if item[key] == item.rental_cost %}
						    		    <td> ${{item[key]}} </td>
								    {% else %}
									    <td> {{item[key]}} </td>
								    {% endif %}
                                {% endfor %}
    
                                <!-- Create our delete button -->
                                <td><a href="delete_rental_equipment/{{item.rental_id}}" class="btn btn-default">Delete</a></td>
    
                            </tr> 
                            {% endfor %} 
                    {% endif %} 
            </table>   
        <p>&nbsp;</p>
        </div>	<!-- browse -->
    
        <div id="insert">
            <!-- form to INSERT new data into rental_equipment-->
            <form id="insertRentalEquipment" action="/Rental_Equipment" method="post">
                <legend><strong>Add Rental Equipment</strong></legend>
                <fieldset>
                    <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
                    <label for="make">Rental Name:</label>
                    <input type="text" class="form-control" id="rental_name" name="rental_name" placeholder="" required>
    
                    <label for="make">Rental Cost:</label>
                    <input type="text" class="form-control" id="rental_cost" name="rental_cost" placeholder="" required>
                </fieldset>
    
                <!-- Create 'Add Rental' and 'Cancel' buttons -->
                <input type="submit" value="Add Rental" name="Add_Rental_Equipment" class="btn btn-primary" style="margin:.5rem;">
                <input class="btn" type="button" value="Cancel" onClick="browseRentalEquipment()"> 
            </form>
        </div><!--insert-->
    
    </body>
    </html>
